@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: 'Robloxian';
    src: url('Roblox.ttf') format('truetype');
}

html {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

input, button {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;

    display: flex;

}

.banner {
    background-image: url(https://wallpaperaccess.com/full/196851.png);
    background-size: cover;
    width: auto;
    flex-grow: 1;
}

.banner h1 {
    background-color: rgba(0, 0, 0, 0.555);
    text-align: center;
    color: whitesmoke;
    font-family: 'Robloxian', Arial, Helvetica, sans-serif;
    font-size: 4rem;

    box-sizing: border-box;
    padding: 0.5rem 0;

    margin-top: 25%;
}

.banner img {
    width: 3rem;
    padding: 0;
    margin: 0;
    display:inline-block;
    vertical-align:middle;

}
main {
    width: min(700px, 60vw);
    height: 100%;
    background-color: #f2f4f5;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main p {
    margin: 20px 40px;
    margin-bottom: 20px;

}

form {
    box-shadow: 2px 2px 5px rgb(211, 211, 211);

    padding: 50px 0 50px 40px;

    font-size: 16px;

    background-color: #fff;
}

form h2 {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;

    font-weight:900;
}

form section{
    display: flex;
    flex-wrap: wrap;

}

form div {
    display: flex;
    flex-direction: column;

    margin-right: 50px;
    margin-bottom: 30px;

    position: relative;
}

form input {
    width: min(250px, 40vw);
    height: auto;
    padding: 9px;
    
    border: 1px gainsboro solid;
    border-radius: 8px;
    background-color: inherit;

}

input:focus {
    outline: none;
    border-color: #7f8486;
}

input:not(:focus):not(:placeholder-shown):invalid + span::before {
    margin: 0;
    font-size: 12px;
    position: absolute;

    bottom: -16px;
    color: #f74b52;
    
    content: 'No';
}


input:not(:focus):not(:placeholder-shown):invalid {
    border-color: #a94442;
}


button[type='submit']{
    border: 1px solid #393b3d;
    border-radius: 8px;
    color:#393b3d; 
    background-color: inherit;

    height: auto;
    padding: 9px;

    font-family: inherit;

    width: min(250px, 40vw);
}


button[type='submit']:hover{
    color: black;
    border-color: black;
    cursor: pointer;

}



